@font-face {
    font-family: 'digital-webfont';
    src: url('../webfonts/Digital-Display.woff2') format('woff2'),
         url('../webfonts/Digital-Display.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #0a2d2b;
    //background-image: linear-gradient(#041615,#0a2d2b);
    color: white;
    font-family: 'Share Tech Mono', 'Noto Sans TC', sans-serif;
}

a:link, a:visited, a:focus {
    color: white;
    transition: .5s;
}
a:hover {
    text-decoration: none;
    color: #dac400;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.2);
  outline: 2px solid white;
}

::-webkit-scrollbar-thumb {
  background: #dac400;
}

::-webkit-scrollbar-thumb:hover {
  background: #CAB400;
}

#time-counter {
    font-family: 'digital-webfont', 'Noto Sans TC', sans-serif;
    font-size: 5em;
    color: #FAA;
}

#informations {
    height: 38%;
}

#info-textbox {
    outline: 2px solid #FFF;
    background: rgba(0,0,0,0.2);
    height: 100%;
    overflow: auto;
}

#info-count {
    outline: 2px solid #FFF;
    background: rgba(0,0,0,0.2);
}

#timeline-bg {
    width: 100%;
    height: 10px;
    background-color: rgba(0,0,0,0);
    outline: 2px solid white;
}

#timeline-ft {
    width: 100%;
    height: 10px;
    background-color: #dac400;
    transform: translate(-72%, 0);
}

#message-list {
    height: 100%;
    overflow: auto;
}

#message-list p {
    margin: 0;
    padding: 3px;
}

#message-list .message-time {
    color: #dac400;
}
#message-list .message-content {
    color: #DDD;
}

#spaceapps-logo {
    background-image: url("../img/spaceapps.svg");
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
